.h1{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
    font-size: 8rem;

    &-dark{
        color: $color-primary;
    }
    
}


a{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    