

html {
    scroll-behavior: smooth;
    background: rgba($color-white, 1);
    height: 100%;
    background: linear-gradient(-90deg, $color-white 50%, $color-beige 50%);
  }



.hide{
    &-desktop{
         display: none;
        }
    }

.site-header {
position:fixed;
top: 0;
right: 0;
left: 0;
max-width: 100%;
padding: 2rem;
margin: 0 auto;
top: 0;
z-index: 1;

display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;

    &--links {
        align-self: flex-end;
        margin-left: 2rem;
        display: inline-block;
    }

    &--links ul {
        margin: 1rem 0.5rem;
	    text-align: center;
    }

    &--links li {
        display: inline;
    }

    &--links a {
        display: inline-block;
        margin: 1rem;
    }

    &--logo{
        margin-left: 2rem;
    }
}

//logo

.logo-img-mobile{
    display: none;
}

//HOMEPAGE
//section-1 (screen 1, about me / quicklinks)

.section-1{
    height: 65vh;
    padding: 2rem 6rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    
    &--intro{
        text-align: center;
    }

    &-top{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

} 

//section 2- case studies

.section-2{

    
    display: grid;
    grid-template-columns: minmax(10px,15rem) minmax(375px, 1fr) minmax(0,35rem) minmax(375px, 1fr) minmax(10px,15rem);
    grid-auto-rows: minmax(min-content, max-content);

    &-arrow{
    
        &-top{
            grid-column: 3 / 4;
            display: flex;
            transform: rotate(90deg) translate(7rem);
            white-space: nowrap;
            overflow: visible;
            //margin-top: 7rem;
            align-items: center;
        }
        
        &-bottom{
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            display: flex;
            transform: rotate(-90deg) translate(16em);
            white-space: nowrap;
            overflow: visible;
            //margin-bottom: 16em;
            text-decoration: none;
            align-self: end;
            align-items: center;
        }
        
    }

}

.webProject { 
    
    &-left{
    grid-column: 2 / 3;
    justify-items: center;
    margin-bottom: 3rem;
    margin-top: 12rem;
    }

    &-right{
        grid-column: 4 / 5;
        justify-items: center;
        margin-bottom: 3rem;
    }
    
}

.digitalMarketing{
    grid-column: 3 / 9;
    grid-row: 3;
    margin: 3rem 0;

}

.personalWork{
    grid-column: 9 / 14;
    grid-row: 3;
    margin: 3rem 0;
    margin-left: 3rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    //align-items:center
    
}

.contactMe{
    grid-column: 2 / 8;
    grid-row: 4;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 2rem;
}





//case study general styling

.project{
   
    padding: 0.5rem 0;
    //margin-bottom: -1.5rem;
    margin-top: 10rem;
    text-align: center;

    &-zero{
        @extend .project;
        margin-top: -10rem;
    }

    &-container {
        position: relative;
        width: 100%;

      }

    &-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-primary;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    
      }
    @media (hover: hover) {
        &-container:hover &-overlay {
            width: 50%;
        }
    }

    &-image{
        object-fit: contain;
        width: 100%;
        max-height: 100%;
        display: block;

        
    }

    &-name{
        margin-bottom: 10px;
    }

    &-type{
        margin-top: 0.5rem;
    }


}
  
.homepage-contact{
    margin-left: 3rem;
}

//ABOUT ME STYLING

.about{
    display: grid;
    grid-template-columns: minmax(10px,15rem) minmax(375px, 1fr) minmax(375px, 1fr) minmax(10px,15rem);
    grid-auto-rows: 65vh minmax(min-content, max-content);

    &-header{
        grid-column: 2 /4 ;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
    }

    &-bio{
        grid-column: 3 / 4 ;
        grid-row: 2 / 3;  
        padding-left: 5rem;
        align-self: center;
    }

    &-img{
        grid-column: 2 / 3 ;
        grid-row: 2 / 3;  
        //object-fit: contain;
        //width: 100%;
        //max-height: 100%;
        //display: block;
        padding-right: 5rem;
        justify-self: center;
        align-self: center;
    }
}


//casestudy

ul li::marker {
    color: $color-primary;
  }
li {
    vertical-align: middle;
}
.case{    
        
    &-ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
    padding-left: 0;

        
    }

    &-section-2{
        display: flex;
        flex-direction: row;
    }


    &-left{
        width: 50%;
        position: sticky;
        position: -webkit-sticky;
        top: 8rem;
        padding: 0 0rem 0 15rem;
        height: 100vh;
        overflow-y: scroll;

        
    }   

    &-center{
        display: flex;
        flex-direction: row;
        overflow: visible;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &-right{
        width: 50%;
        padding: 0 15rem 0 0rem;
    }
    
    &-spec{
        border-style: solid;
        border-width: 1px 0 0 0;
        border-color: $color-primary;
    }

    &-section-1{
        display: flex;
        height: 45vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-arrow{
        display: flex;
        flex-direction: row;
        overflow: visible;
        align-items: center;
        //justify-content: flex end;
        //transform: rotate(90deg);
        transform: rotate(90deg) translate(50%, 0);
        //padding-left: 10rem;
        }
    }

    &-contact{
        display: flex;
        justify-content: space-between;
    }

    &-return{
        display: flex;
        justify-content: flex-end;
    }

    &-arrow{
        display: flex;
        flex-direction: row-reverse;
        overflow: visible;
        align-items: center;

        &-top{
            overflow: visible;
            flex-direction: column;
            align-items: center;
        }
        
    }

    &-footer{
        display: flex;
        align-content: center;
        justify-content: center;
        padding-top: 5rem;
    }
}

.case-right{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.case-right::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}