

html {
    scroll-behavior: smooth;
    background: rgba($color-white, 1);
    height: 100%;
    background: linear-gradient(90deg, $color-white 50%, $color-beige 50%);
  }




.site-header {
position:fixed;
top: 0;
right: 0;
left: 0;
max-width: 100%;
padding: 2rem;
margin: 0 auto;
top: 0;
z-index: 100;

display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;

    &--links {
        align-self: flex-end;
        margin-left: 2rem;
        display: inline-block;
    }

    &--links ul {
        margin: 1rem 0.5rem;
	    text-align: center;
    }

    &--links li {
        display: inline;
    }

    &--links a {
        display: inline-block;
        margin: 1rem;
    }

    &--logo{
        margin-left: 2rem;
    }
}

//logo

.logo-img-mobile{
    display: none;
}

//HOMEPAGE
//section-1 (screen 1, about me / quicklinks)

.section-1{
    height: 65vh;
    padding: 2rem 6rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    
    &--intro{
        text-align: center;
    }

    &-top{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

} 

//section 2- case studies

.section-2{

    
    display: grid;
    grid-template-columns: minmax(10px,15rem) minmax(375px, 1fr) minmax(0,35rem) minmax(375px, 1fr) minmax(10px,15rem);
    grid-auto-rows: minmax(min-content, max-content);

    &-arrow{
        &-top{
            grid-column: 3 / 4;
            display: flex;
            transform: rotate(90deg) translate(7rem);
            white-space: nowrap;
            overflow: visible;
            //margin-top: 7rem;
        }
        
        &-bottom{
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            display: flex;
            transform: rotate(-90deg) translate(16em);
            white-space: nowrap;
            overflow: visible;
            //margin-bottom: 16em;
            text-decoration: none;
            align-self: end;
        }
        
    }

}

.webProject { 
    
    &-left{
    grid-column: 2 / 3;
    justify-items: center;
    margin-bottom: 3rem;
    margin-top: 12rem;
    }

    &-right{
        grid-column: 4 / 5;
        justify-items: center;
        margin-bottom: 3rem;
    }
    
}

.digitalMarketing{
    grid-column: 3 / 9;
    grid-row: 3;
    margin: 3rem 0;

}

.personalWork{
    grid-column: 9 / 14;
    grid-row: 3;
    margin: 3rem 0;
    margin-left: 3rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    //align-items:center
    
}

.contactMe{
    grid-column: 2 / 8;
    grid-row: 4;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 2rem;
}





//case study general styling

.project{
   
    padding: 0.5rem 0;
    //margin-bottom: -1.5rem;
    margin-top: 10rem;
    text-align: center;

    &-zero{
        @extend .project;
        margin-top: -10rem;
    }

    &-container {
        position: relative;
        width: 100%;

      }

    &-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-primary;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    
      }
    @media (hover: hover) {
        &-container:hover &-overlay {
            width: 50%;
        }
    }

    &-image{
        object-fit: contain;
        width: 100%;
        max-height: 100%;
        display: block;

        
    }

    &-name{
        margin-bottom: 10px;
    }

    &-type{
        margin-top: 0.5rem;
    }


}
  
.homepage-contact{
    margin-left: 3rem;
}

//ABOUT ME STYLING
