@import url("https://fonts.googleapis.com/css?family=Palanquin:100|Palanquin+Dark:700|Roboto:400,400i,700&display=swap");
:root {
  font-size: 62.5%;
}

:root body {
  margin: 0;
  font-size: 1.6rem;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Regular-WebM.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-RegularItalic-WebM.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-BoldItalic-WebM.woff") format("woff");
  font-weight: bold, 500;
  font-style: italic;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Bold-WebM.woff") format("woff");
  font-weight: bold, 500;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Black-WebM.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Book-WebM.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Light-WebM.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "SuisseWorks";
  src: url("/fonts/SuisseWorks-Regular-WebS.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseWorks";
  src: url("/fonts/SuisseWorks-Bold-WebS.woff") format("woff");
  font-weight: bold, 500;
}

::-moz-selection {
  color: #FAF2EC;
  background: #000ad1;
}

::selection {
  color: #FAF2EC;
  background: #000ad1;
}

.h1, .h1--dark, .h1--light {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 100;
  font-size: 10rem;
  line-height: 9rem;
  margin-bottom: -1rem;
  margin-top: 2rem;
}

.h1--dark {
  color: #000000;
  text-align: center;
}

.h1--light {
  color: #ffffff;
}

.h2, .h2--dark, .h2--dark-casestudy, .h2--light {
  font-family: 'SuisseWorks', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}

.h2--dark, .h2--dark-casestudy {
  color: #000ad1;
}

.h2--dark-casestudy {
  margin-top: 0;
  margin-bottom: 1rem;
}

.h2--light {
  color: #ffffff;
}

.h3, .h3--dark, .h3--light {
  font-family: 'SuisseWorks', serif;
  font-weight: 500;
  font-size: 2.8rem;
}

.h3--dark {
  color: #000ad1;
}

.h3--light {
  color: #ffffff;
}

.h4, .h4--dark, .h4--light, .h4-footer {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 800;
  font-size: 2rem;
}

.h4--dark {
  color: #000000;
}

.h4--light {
  color: #ffffff;
}

.h4-footer {
  color: #000000;
  line-height: 0;
  margin: 3rem 0 4rem 0;
}

.h4-alt, .h4-alt--dark, .h4-alt--darklp, .h4-alt--light {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.h4-alt--dark {
  color: #000000;
}

.h4-alt--darklp {
  color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 800;
  text-align: center;
}

.h4-alt--light {
  color: #ffffff;
}

.h5, .h5--dark {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 200;
  font-size: 2rem;
}

.h5--dark {
  color: #000000;
}

.body, .body--dark, .body--light {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

.body--dark {
  color: #000000;
}

.body--light {
  color: #ffffff;
}

.bold, .bold--dark, .bold--light {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

.bold--dark {
  color: #000000;
}

.bold--light {
  color: #ffffff;
}

.caption, .caption--dark, .caption--light {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.caption--dark {
  color: #000000;
}

.caption--light {
  color: #ffffff;
}

.link, .link--dark, .link--light {
  font-family: 'SuisseWorks', sans-serif;
  font-weight: 300;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size .7s, font-size .2s ease, font-family .2s ease;
  transition: background-size .7s, font-size .2s ease, font-family .2s ease;
  cursor: pointer;
}

@media (hover: hover) {
  .link:hover, .link--dark:hover, .link--light:hover, .link:focus, .link--dark:focus, .link--light:focus {
    background-size: 100% 1px;
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 800;
  }
}

.link--dark {
  color: #000ad1;
}

.link--light {
  color: #ffffff;
}

.link--header {
  font-family: 'SuisseWorks', sans-serif;
  font-weight: 800;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 90%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  -webkit-transition: background-size .7s;
  transition: background-size .7s;
  cursor: pointer;
  color: #000ad1;
}

.link--header:hover, .link--header:focus {
  background-size: 100% 3px;
}

.arrowtxt {
  font-family: 'SuisseWorks', sans-serif;
  font-weight: 500;
  color: #000ad1;
  line-height: 0;
  text-decoration: none;
  white-space: nowrap;
}

.projectTitle {
  margin-top: 0;
}

.padding--big {
  height: 6.5rem;
  grid-column: 1 / -1;
  -ms-grid-row: 4;
  grid-row: 4;
}

html {
  scroll-behavior: smooth;
  background: white;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #ffffff), color-stop(50%, #FAF2EC));
  background: linear-gradient(-90deg, #ffffff 50%, #FAF2EC 50%);
}

.hide-desktop {
  display: none;
}

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  padding: 2rem;
  margin: 0 auto;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-header--links {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 2rem;
  display: inline-block;
}

.site-header--links ul {
  margin: 1rem 0.5rem;
  text-align: center;
}

.site-header--links li {
  display: inline;
}

.site-header--links a {
  display: inline-block;
  margin: 1rem;
}

.site-header--logo {
  margin-left: 2rem;
}

.logo-img-mobile {
  display: none;
}

.section-1 {
  height: 65vh;
  padding: 2rem 6rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-1--intro {
  text-align: center;
}

.section-1-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(10px, 15rem) minmax(375px, 1fr) minmax(0, 35rem) minmax(375px, 1fr) minmax(10px, 15rem);
      grid-template-columns: minmax(10px, 15rem) minmax(375px, 1fr) minmax(0, 35rem) minmax(375px, 1fr) minmax(10px, 15rem);
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
}

.section-2-arrow-top {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg) translate(7rem);
          transform: rotate(90deg) translate(7rem);
  white-space: nowrap;
  overflow: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2-arrow-bottom {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg) translate(16em);
          transform: rotate(-90deg) translate(16em);
  white-space: nowrap;
  overflow: visible;
  text-decoration: none;
  -ms-flex-item-align: end;
      align-self: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.webProject-left {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  justify-items: center;
  margin-bottom: 3rem;
  margin-top: 12rem;
}

.webProject-right {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  justify-items: center;
  margin-bottom: 3rem;
}

.digitalMarketing {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3 / 9;
  -ms-grid-row: 3;
  grid-row: 3;
  margin: 3rem 0;
}

.personalWork {
  -ms-grid-column: 9;
  -ms-grid-column-span: 5;
  grid-column: 9 / 14;
  -ms-grid-row: 3;
  grid-row: 3;
  margin: 3rem 0;
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactMe {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 4;
  grid-row: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 2rem;
}

.project, .project-zero {
  padding: 0.5rem 0;
  margin-top: 10rem;
  text-align: center;
}

.project-zero {
  margin-top: -10rem;
}

.project-container {
  position: relative;
  width: 100%;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000ad1;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

@media (hover: hover) {
  .project-container:hover .project-overlay {
    width: 50%;
  }
}

.project-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 100%;
  display: block;
}

.project-name {
  margin-bottom: 10px;
}

.project-type {
  margin-top: 0.5rem;
}

.homepage-contact {
  margin-left: 3rem;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(10px, 15rem) minmax(375px, 1fr) minmax(375px, 1fr) minmax(10px, 15rem);
      grid-template-columns: minmax(10px, 15rem) minmax(375px, 1fr) minmax(375px, 1fr) minmax(10px, 15rem);
  grid-auto-rows: 65vh minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: 65vh minmax(min-content, max-content);
}

.about-header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 /4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-bio {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  padding-left: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  padding-right: 5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

ul li::marker {
  color: #000ad1;
}

li {
  vertical-align: middle;
}

.case-ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
  padding-left: 0;
}

.case-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.case-left {
  width: 50%;
  position: sticky;
  position: -webkit-sticky;
  top: 10rem;
  padding: 0 0rem 0 15rem;
  height: 100vh;
}

.case-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: visible;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.case-right {
  width: 50%;
  padding: 0 15rem 0 0rem;
}

.case-spec {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #000ad1;
}

.case-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.case-section-1-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg) translate(50%, 0);
          transform: rotate(90deg) translate(50%, 0);
}

.case-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-arrow-top {
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
}

.case-right {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

.case-right::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.button {
  font-family: 'SuisseIntl', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  background-color: #000ad1;
  padding: 15px 20px;
  text-align: center;
  position: relative;
  -webkit-transition: all .35s;
  transition: all .35s;
  cursor: pointer;
}

.button-span {
  position: relative;
  z-index: 2;
}

@media (hover: hover) {
  .button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    -webkit-transition: all .35s;
    transition: all .35s;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:after {
    width: 50%;
  }
}

.padding-small-bottom {
  margin-bottom: 3.5rem;
}

.padding-small-top {
  margin-top: 3.5rem;
}

.padding-xsmall-bottom {
  margin-bottom: -.5rem;
}

.padding-xsmall-top {
  margin-top: 2rem;
}

.txt-align-left {
  text-align: left;
}

.txt-align-center {
  text-align: center;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 6rem) (minmax(60px, 1fr))[1] minmax(0, 6rem);
      grid-template-columns: minmax(0, 6rem) repeat(1, minmax(60px, 1fr)) minmax(0, 6rem);
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 5rem;
}

.footer-logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer-copyright {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  margin-bottom: 2rem;
}

.footer-social {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  margin: 2rem 0 2rem 0;
}

.footer-social-links {
  margin: 0 3rem 0 2rem;
}

@media (max-width: 768px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  html {
    scroll-behavior: smooth;
    background: white;
  }
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: inline;
  }
  .logo-img {
    size: 10rem;
  }
  .section-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 45vh;
    padding: 0 0 0 0;
  }
  .section-1-top {
    padding-top: 3rem;
  }
  .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .about {
    -ms-grid-columns: minmax(0, 0) minmax(375px, 1fr) minmax(0, 0);
        grid-template-columns: minmax(0, 0) minmax(375px, 1fr) minmax(0, 0);
    grid-auto-rows: 35vh minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content);
    grid-auto-rows: 35vh minmax(min-content, max-content) minmax(min-content, max-content);
    grid-auto-flow: column;
    background: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-header {
    text-align: center;
  }
  .about-bio {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 8rem 2rem 8rem;
    justify-self: center;
    -ms-flex-item-align: center;
        align-self: center;
    background: #faf2ec;
    text-align: center;
  }
  .about-img {
    display: none;
  }
  .h1, .h1--dark, .h1--light {
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 100;
    font-size: 8rem;
    line-height: 9rem;
    margin-bottom: -1rem;
    margin-top: 2rem;
  }
  .h2, .h2--dark, .h2--dark-casestudy, .h2--light {
    font-family: 'SuisseWorks', sans-serif;
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .h4, .h4--dark, .h4--light, .h4-footer {
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
  }
  .section-2 {
    background: #faf2ec;
    height: 50vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: repeat(1, 1fr);
    grid-auto-flow: column;
    padding: 5.5rem 0rem 3rem 0rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: calc(50vh - 2rem);
  }
  .section-2-arrow-top {
    display: none;
  }
  .section-2-arrow-bottom {
    display: none;
  }
  .webProject-left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    /* needs vendor prefixes */
    margin-top: 0;
    margin-bottom: 0;
  }
  .webProject-right {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    justify-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    /* needs vendor prefixes */
    margin-top: 0;
    margin-bottom: 0;
  }
  .section-2 {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
  }
  .section-2::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
  .project, .project-zero {
    margin-top: 0;
    padding: 0 2rem 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: 100%;
  }
  .project-zero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 17.5vw;
  }
  .project-last {
    padding-right: 17.5vw;
  }
  .project-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 65vw;
  }
  .footer {
    background: #faf2ec;
  }
  .nomargin-top {
    margin-top: 0;
  }
  .case-section-1 {
    height: 45vh;
  }
  .case-section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .case-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: initial;
    height: initial;
    padding: 4rem;
    margin: 0rem;
    background-color: #faf2ec;
    top: 0;
  }
  .case-center {
    display: none;
  }
  .case-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: initial;
    height: initial;
    margin: 5rem 4rem 5rem 4rem;
    padding: initial;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .case-footer {
    padding-top: 0;
    background-color: #faf2ec;
  }
  .case-section-1-arrow {
    display: none;
  }
  .hide-desktop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .case-arrow {
    margin-top: -3rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  .logo-img {
    display: none;
  }
  .logo-img-mobile {
    display: block;
  }
  .section-1 {
    padding: 0 3rem 0 3rem;
    margin: 4rem 0 4rem 0;
  }
  .section-2 {
    padding: 7rem 0 4rem 0;
  }
  .about-bio {
    padding: 2rem 4rem 2rem 4rem;
  }
  .case-section-1 {
    padding: 4rem;
  }
}

@media (max-width: 520px) {
  .h1, .h1--dark, .h1--light {
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 100;
    font-size: 6.8rem;
  }
  .case-section-1 {
    height: 50vh;
    padding: 2rem;
  }
}

@media (max-width: 460px) {
  .case-arrow {
    margin-top: 3rem;
    margin-bottom: 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mobile-align {
    text-align: center;
  }
  .space-mobile {
    padding-top: 2rem;
  }
  .about-txt {
    margin-top: 0;
  }
  .body, .body--dark, .body--light {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
  }
  .body::-webkit-scrollbar, .body--dark::-webkit-scrollbar, .body--light::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
  .h1, .h1--dark, .h1--light {
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 100;
    font-size: 6rem;
    line-height: 7rem;
    margin-bottom: -1rem;
    margin-top: 2rem;
  }
  .h2, .h2--dark, .h2--dark-casestudy, .h2--light {
    font-family: 'SuisseWorks', sans-serif;
    font-size: 2.2rem;
    margin-top: 0;
  }
  .link--dark {
    font-size: 2rem;
  }
  .h4, .h4--dark, .h4--light, .h4-footer {
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 800;
    font-size: 2rem;
  }
  .section-1 {
    margin: 1rem 0 1rem 0;
  }
  .section-2 {
    padding: 0rem 0rem 0rem 0rem;
  }
  .footer-social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.6rem;
  }
  .footer-social-links:not(:last-child) {
    padding-bottom: 2rem;
  }
  .site-header--links {
    font-size: 1.6rem;
  }
  .logo-img-mobile {
    display: block;
    max-height: 75%;
  }
  .case-ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .hide-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 435px) {
  .hide-desktop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .case-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .case-arrow {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 390px) {
  .space-mobile {
    padding-top: 1rem;
  }
  .h1, .h1--dark, .h1--light {
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 100;
    font-size: 4rem;
    line-height: 6.5rem;
    margin-bottom: -1rem;
    margin-top: 2rem;
  }
  .h2, .h2--dark, .h2--dark-casestudy, .h2--light {
    font-family: 'SuisseWorks', sans-serif;
    font-size: 1.8rem;
    margin-top: 0;
  }
  .link--dark {
    font-size: 1.8rem;
  }
  .h4, .h4--dark, .h4--light, .h4-footer {
    font-family: 'SuisseIntl', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
  }
  .h4-alt--darklp {
    font-size: 1.8rem;
  }
  .h4-footer {
    margin: 2rem 0 4rem 0;
    font-size: 1.6rem;
  }
  .site-header--links {
    font-size: 1.4rem;
  }
  .footer-social-links {
    font-size: 1.4rem;
  }
  .case-section-1 {
    height: 45vh;
  }
}

@media (max-width: 356px) {
  .site-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-header--logo {
    margin: 0;
  }
  .site-header--links {
    margin-left: 0;
    padding-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-1-top {
    padding-top: 10rem;
    margin-bottom: 10rem;
  }
  .logo-img-mobile {
    display: block;
    max-height: 4rem;
  }
  .footer-logo {
    height: 4rem;
    width: 4rem;
  }
  .section-1 {
    padding: 8rem 0 3rem 0;
  }
  .section-1--intro {
    margin-top: 1.4rem;
  }
  .section-2 {
    padding: 3rem 0 3rem 0;
  }
  .h4-alt--darklp {
    font-size: 1.6rem;
    margin: 0 0 3rem 0;
  }
  .h4-footer {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .footer-social {
    margin-top: 0;
  }
}

.imgjs {
  position: absolute;
  top: 500px;
  left: 400px;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  cursor: pointer;
}

#overlay-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(100vw-500px);
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  left: 25px;
  right: 25px;
}

#overlay-img {
  width: 100%;
  display: block;
}

#overlay-close {
  z-index: 10;
  position: absolute;
  right: 10px;
  top: 20px;
}
/*# sourceMappingURL=main.css.map */